pyproject.toml
.venv/
poetry.lock
*.Identifier
__pycache__/
static/bootstrap/
static/bootstrap/
build/index.html
build/cover/index.html
build/servicos/index.html
build/static/favicon.ico
build/static/bootstrap/css/bootstrap-grid.css
build/static/bootstrap/css/bootstrap-grid.css.map
build/static/bootstrap/css/bootstrap-grid.min.css
build/static/bootstrap/css/bootstrap-grid.min.css.map
build/static/bootstrap/css/bootstrap-grid.rtl.css
build/static/bootstrap/css/bootstrap-grid.rtl.css.map
build/static/bootstrap/css/bootstrap-grid.rtl.min.css
build/static/bootstrap/css/bootstrap-grid.rtl.min.css.map
build/static/bootstrap/css/bootstrap-reboot.css
build/static/bootstrap/css/bootstrap-reboot.css.map
build/static/bootstrap/css/bootstrap-reboot.min.css
build/static/bootstrap/css/bootstrap-reboot.min.css.map
build/static/bootstrap/css/bootstrap-reboot.rtl.css
build/static/bootstrap/css/bootstrap-reboot.rtl.css.map
build/static/bootstrap/css/bootstrap-reboot.rtl.min.css
build/static/bootstrap/css/bootstrap-reboot.rtl.min.css.map
build/static/bootstrap/css/bootstrap-utilities.css
build/static/bootstrap/css/bootstrap-utilities.css.map
build/static/bootstrap/css/bootstrap-utilities.min.css
build/static/bootstrap/css/bootstrap-utilities.min.css.map
build/static/bootstrap/css/bootstrap-utilities.rtl.css
build/static/bootstrap/css/bootstrap-utilities.rtl.css.map
build/static/bootstrap/css/bootstrap-utilities.rtl.min.css
build/static/bootstrap/css/bootstrap-utilities.rtl.min.css.map
build/static/bootstrap/css/bootstrap.css
build/static/bootstrap/css/bootstrap.css.map
build/static/bootstrap/css/bootstrap.min.css
build/static/bootstrap/css/bootstrap.min.css.map
build/static/bootstrap/css/bootstrap.rtl.css
build/static/bootstrap/css/bootstrap.rtl.css.map
build/static/bootstrap/css/bootstrap.rtl.min.css
build/static/bootstrap/css/bootstrap.rtl.min.css.map
build/static/bootstrap/js/bootstrap.bundle.js
build/static/bootstrap/js/bootstrap.bundle.js.map
build/static/bootstrap/js/bootstrap.bundle.min.js
build/static/bootstrap/js/bootstrap.bundle.min.js.map
build/static/bootstrap/js/bootstrap.esm.js
build/static/bootstrap/js/bootstrap.esm.js.map
build/static/bootstrap/js/bootstrap.esm.min.js
build/static/bootstrap/js/bootstrap.esm.min.js.map
build/static/bootstrap/js/bootstrap.js
build/static/bootstrap/js/bootstrap.js.map
build/static/bootstrap/js/bootstrap.min.js
build/static/bootstrap/js/bootstrap.min.js.map
build/static/css/carousel.css
build/static/css/carousel.rtl.css
build/static/css/cover.css
build/static/css/style.css
build/static/imgs/163338750_2924311754492968_1192276329216007900_n.jpg
build/static/imgs/173871590_2941407006116776_8899111324309588526_n.jpg
build/static/imgs/ashilleyy.jpg
build/static/imgs/banner.jpg
build/static/imgs/banner2.jpg
build/static/imgs/banner3.jpg
build/static/imgs/bannnner.jpg
build/static/imgs/Logo Manxs.png
build/static/imgs/luisaff.jpg
build/static/imgs/PCVV9140.jpg
build/static/imgs/PCVV9206.jpg
build/static/imgs/vikky.jpg
