pyproject.toml
.venv/
poetry.lock
*.Identifier
__pycache__/
static/bootstrap/
static/bootstrap/
build/
static/imgs/uncompressed/
.vscode/
envmanxs/
TODO
static/imgs/banner2 - Copia.jpg
static/css/index.css
static/imgs/banner3 - Copia.jpg
templates/teste.html
