pyproject.toml
.venv/
poetry.lock
*.Identifier
__pycache__/
static/bootstrap/
static/bootstrap/
build/
static/imgs/uncompressed/
.vscode/
envmanxs/
TODO
static/imgs/banner2 - Copia.jpg
static/css/index.css
static/imgs/banner3 - Copia.jpg
templates/teste.html
sitecursomanxs.html
.conteudo.py.swp
static/favicon-mini.jpg
package-lock.json
purged/bootstrap.min.css
purged/cover.css
purged/headers.css
purged/style.css
config-dev.py
config.py
data/biografia.py
config_dev.py
static/js/bootstrap.min.js
static/js/bootstrap.min.js.map
