<!doctype html>
<html class="h-100" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Manxs - Grupo de Arte Drag Queen (BRASIL)">
    <meta name="author" content="cesardddp@hotmail.com">

    <meta name="og:title" content="GrupoManxs.com">
    <meta name="og:image" content="https://www.grupomanxs.com/static/imgs/Logo%20Manxs.png">
    <meta name="og:url" content="https://www.grupomanxs.com">

    <title>Manxs</title>
    
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;900&display=swap" >
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
    

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/headers.css" >
    
<script src="https://unpkg.com/vue@next"></script>
<script src="https://kit.fontawesome.com/3db21c2fa2.js" crossorigin="anonymous"></script>
<style>
    .texto-descricao {
        text-align: justify;
    }
</style>

    
</head>

<header class="d-flex flex-wrap justify-content-center mb-3 bg-manxs">

    <a href="/" class="navbar-brand mb-1">
        
        <img src="/static/imgs/logo_manxs.png" alt="" width="60" class="d-inline-block">

    <b class="fs-3 link-light align-middle">MANXS</b>
    </a>

    <ul class="nav col-12 mb-2 justify-content-center menu1">
        <li class="   "><a href="/                        " class="nav-link px-2 link-light">HOME</a></li>
        <li class="     "><a href="/"class="nav-link px-2 link-light">BIOGRAFIA</a></li>
        <li class="active_menu"><a href="/servicos/" class="nav-link px-2 link-light">SERVIÇOS</a></li>
        <li class=" "><a href="/galeria/ " class="nav-link px-2 link-light">GALERIA</a></li>
        <li class="  "><a href="/videos/ "  class="nav-link px-2 link-light">VIDEOS</a></li>
        <li class="   "><a href="/shows/"    class="nav-link px-2 link-light">SHOWS</a></li>
        <li class=" "><a href="/musicas/"  class="nav-link px-2 link-light">MUSICAS</a></li>
        <li class=" "><a href="/contato/"  class="nav-link px-2 link-light">CONTATO</a></li>
    </ul>
</header>


 
<main class="d-flex flex-column h-100 mb-auto">
    


<div class="container text-white">

    <h3 class="text-center bg-azul-branco p-md-4 p-2">Curso: EXPRESSÃO E LINGUAGEM CORPORAL</h3>
    <hr>
    <h4>Descrição do curso</h4>
    <div class="bg-azul-branco texto-descricao fs-6 p-1">
        O Curso de Expressão e Linguagem Corporal pretende desenvolver a capacidade de comunicação e ampliar o
        repertório expressivo dos alunos. As aulas são estruturadas com o intuito de tirar os envolvidos de suas “zonas
        de conforto” – desde situações práticas (físicas e corporais) como também teóricas e reflexivas.

        Cada aluno é colocado à prova de resoluções de conflitos e atividades com exposição interpessoal e intrapessoal,
        visando uma formação pessoal, social, cultural e artística pautada em valores particulares dos envolvidos,
        buscando a capacidade de reflexão crítica e autônoma, assim como o domínio de interpretação e comunicação, que
        será fundamental para aplicar em suas atividades profissionais, educacionais, artísticas e/ou sociais.
    </div>

    <p></p>
    <div class="row">
        <div class="col-md-6 col-12">
            <table class="table text-white table-sm bg-azul-branco align-middle text-center">
                <thead>
                    <tr>
                        <td colspan="1" rowspan="1">
                        </td>
                        <td colspan="2" rowspan="1">
                            M&oacute;dulo 01 &ndash; Conflitos (Intra e Interpessoal)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            VALOR
                        </td>
                        <td colspan="1" rowspan="1">
                            AULA
                        </td>
                        <td colspan="1" rowspan="1">
                            TEMA EM PAUTA
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1" rowspan="6">
                            R$ 180,00
                        </td>
                        <td colspan="1" rowspan="1">
                            01
                        </td>
                        <td colspan="1" rowspan="1">
                            Valores Moral e &Eacute;tica
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            02
                        </td>
                        <td colspan="1" rowspan="1">
                            Emo&ccedil;&otilde;es e Sentimentos
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            03
                        </td>
                        <td colspan="1" rowspan="1">
                            Agressividade e Viol&ecirc;ncia
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            04
                        </td>
                        <td colspan="1" rowspan="1">
                            Viol&ecirc;ncia Simb&oacute;lica
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            05
                        </td>
                        <td colspan="1" rowspan="1">
                            Sexualidade (G&ecirc;neros)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            06
                        </td>
                        <td colspan="1" rowspan="1">
                            Erotiza&ccedil;&atilde;o do Corpo
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <div class="col-md-6 col-12">
            <table class="table text-white table-sm bg-azul-branco align-middle text-center">
                <tbody>
                    <tr>
                        <thead>
                            <td colspan="1" rowspan="1">
                            </td>
                            <td colspan="2" rowspan="1">
                                M&oacute;dulo 02 - </span>Comunica&ccedil;&atilde;o
                                (Sentir, Experimentar e Reagir)
                            </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            VALOR
                        </td>
                        <td colspan="1" rowspan="1">
                            AULA
                        </td>
                        <td colspan="1" rowspan="1">
                            TEMA EM PAUTA
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="1" rowspan="6">
                                R$ 180,00
                            </td>
                            <td colspan="1" rowspan="1">
                                01
                            </td>
                            <td colspan="1" rowspan="1">
                                O que somos? </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                02
                            </td>
                            <td colspan="1" rowspan="1">
                                Símbolos e Sinais
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                03
                            </td>
                            <td colspan="1" rowspan="1">
                                Linguagem das Emoções (Micro Expressões)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                04
                            </td>
                            <td colspan="1" rowspan="1">
                                Linguagem Corporal (Micro e Macro Expressões)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                05
                            </td>
                            <td colspan="1" rowspan="1">
                                Autonomia, Heteronomia e Anômina
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                06
                            </td>
                            <td colspan="1" rowspan="1">
                                Privacidade e Liberdade de Expressão
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-12">
            <table class="table text-white table-sm bg-azul-branco align-middle text-center">
                <tbody>
                    <tr>
                        <thead>
                            <td colspan="1" rowspan="1">
                            </td>
                            <td colspan="2" rowspan="1">
                                M&oacute;dulo 03 &ndash; Express&atilde;o
                                (Exposi&ccedil;&atilde;o)
                            </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            VALOR
                        </td>
                        <td colspan="1" rowspan="1">
                            AULA
                        </td>
                        <td colspan="1" rowspan="1">
                            TEMA EM PAUTA
                        </td>
                    </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td colspan="1" rowspan="6">
                            R$ 180,00
                        </td>
                        <td colspan="1" rowspan="1">
                            01
                        </td>
                        <td colspan="1" rowspan="1">
                            Invadir a zona de conforto
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            02
                        </td>
                        <td colspan="1" rowspan="1">
                            Destruir a zona de conforto
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            03
                        </td>
                        <td colspan="1" rowspan="1">
                            Iniciar nova zona de conforto
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            04
                        </td>
                        <td colspan="1" rowspan="1">
                            Experimentar a zona de conforto
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            05
                        </td>
                        <td colspan="1" rowspan="1">
                            Reagir &agrave; zona de conforto
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            06
                        </td>
                        <td colspan="1" rowspan="1">
                            Lideran&ccedil;a
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-12">
            <table class="table text-white table-sm bg-azul-branco align-middle text-center">
                <tbody>
                    <tr>
                        <thead>
                            <td colspan="1" rowspan="1">
                            </td>
                            <td colspan="2" rowspan="1">
                                M&oacute;dulo 04 &ndash; Cria&ccedil;&atilde;o (Criatividade e
                                Improviso)
                            </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            VALOR
                        </td>
                        <td colspan="1" rowspan="1">
                            AULA
                        </td>
                        <td colspan="1" rowspan="1">
                            TEMA EM PAUTA
                        </td>
                    </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td colspan="1" rowspan="6">
                            R$ 180,00
                        </td>
                        <td colspan="1" rowspan="1">
                            01
                        </td>
                        <td colspan="1" rowspan="1">
                            Din&acirc;micas de Grupo/Sociedade
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            02
                        </td>
                        <td colspan="1" rowspan="1">
                            Gest&atilde;o
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            03
                        </td>
                        <td colspan="1" rowspan="1">
                            Cria&ccedil;&atilde;o e Inven&ccedil;&atilde;o
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            04
                        </td>
                        <td colspan="1" rowspan="1">
                            Produzir a sua forma de comunica&ccedil;&atilde;o
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            05
                        </td>
                        <td colspan="1" rowspan="1">
                            Apresentar a sua forma de comunica&ccedil;&atilde;o
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            06
                        </td>
                        <td colspan="1" rowspan="1">
                            Concluir
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="table text-white table-sm bg-azul-branco align-middle text-center">
        <tbody>
            <tr>
                <td colspan="1" rowspan="1">
                    TOTAL
                </td>
                <td colspan="1" rowspan="1">
                </td>
            </tr>
            <tr>
                <td colspan="1" rowspan="1">
                    R$ 720,00
                </td>
                <td colspan="1" rowspan="1">
                    Contratando </span>m&oacute;dulo a
                    m&oacute;dulo
                </td>
            </tr>
            <tr>
                <td colspan="1" rowspan="1">
                    R$ 600,00
                </td>
                <td colspan="1" rowspan="1">
                    NA COMPRA DE TODOS OS M&Oacute;DULOS VOC&Ecirc; RECEBE R$ 120,00 DE
                    DESCONTO
                </td>
            </tr>
        </tbody>
    </table>


    <div class="bg-azul-branco texto-descricao p-1 mb-1">
        O curso se desenvolve em formato online com cada aula contendo aproximadamente 2 horas de duração.
        As aulas
        se
        dispõem em 2 vezes por semana, acordadas com a disponibilidade entre aluno e professor no processo
        de
        contratação do curso.
    </div>
    <div class="bg-azul-branco texto-descricao p-1">
        Após o preenchimento correto das informações abaixo, você receberá por email os detalhes do curso
        escolhido
        seguido da folha de pagamento do mesmo na qual poderá escolher aderir a um modulo ou mais da sua
        preferencia
        ou
        comprando o pacote completo com desconto.
        Deseja se inscrever?
    </div>


    </p>

    <!-- <form id="form" class="row g-3 bg-azul-branco mt-3" action="https://formspree.io/f/mqkwykwn" method="POST"> -->
    <form id="form" class="row g-3 bg-azul-branco mt-3" action="https://formspree.io/f/xknkybjj" method="POST">
        <div class="col-md-6 col-lg-12">
            <label for="nome" class="form-label">Nome Social Completo</label>
            <input name="nome" type="text" class="form-control" id="" required>
        </div>
        <div class="col-md-6 col-6 col-lg-4">
            <label for="genero" class="form-label">Gênero</label>
            <input name="genero" type="text" class="form-control" id="" required>
        </div>
        <div class="col-md-6 col-6 col-lg-4 ">
            <label for="cpf" class="form-label">CPF</label>
            <input name="cpf" type="text" class="form-control" v-maska="{mask:'###.###.###-##'}" required
                placeholder="999.999.999-99">
        </div>
        <div class="col-md-6 col-6 col-lg-4">
            <label for="data_nascimento" class="form-label">Data Nascimento</label>
            <input name="data_nascimento" type="date" class="form-control" id="" required>
        </div>
        <div class="col-md-6 col-6">
            <label for="telefone" class="form-label">Telefone</label>
            <input v-maska="{mask:'(##) # ####-####'}" name="telefone" type="tel" class="form-control" id="" required
                placeholder="(99) 9 9999-9999">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="" required
                placeholder="meu-email-lidinhe@bol.com">
        </div>

        <div class="col-6">
            <label for="CEP" class="form-label">CEP</label>
            <input name="CEP" type="text" class="form-control" v-model="cep" v-maska="{mask:'#####-###'}" required
                placeholder="19199-999">
            <a class="btn btn-primary mt-1 btn-sm" @click.prevent="preenche_endereco">Pesquisar</a>
        </div>
        <div class="col-6 d-flex align-items-center text-center">
            Digite o CEP para preencher o endereço automaticamente
        </div>

        <div class="col-12">
            <label for="rua" class="form-label">Rua</label>
            <i v-show="loading" class="fas fa-spinner  fa-spin"></i>
            <input v-model="rua" name="rua" type="text" class="form-control" id="" placeholder="Av. Pra Elas" required>
        </div>

        <div class="col-6 ">
            <label for="bairro" class="form-label">Bairro</label>
            <i v-show="loading" class="fas fa-spinner  fa-spin"></i>

            <input name="bairro" type="text" v-model="bairro" class="form-control" placeholder="Jardim do Vale">
        </div>
        <div class="col-4 col-lg-1">
            <label for="numero" class="form-label">Nº</label>
            <input name="Nº" type="number" class="form-control" placeholder="nº00" ref="numero_ref">
        </div>

        <div class="col-md-6 col-9">
            <label for="cidade" class="form-label">Cidade</label>
            <i v-show="loading" class="fas fa-spinner  fa-spin"></i>

            <input v-model="cidade" name="cidade" type="text" class="form-control" id="" required>
        </div>
        <div class="col-3 col-lg-1">
            <label for="estado" class="form-label">UF</label>
            <i v-show="loading" class="fas fa-spinner  fa-spin"></i>

            <select v-model="uf" id="" class="form-select" name="uf" required>
                <!-- <option selected>SP</option> -->
                
                <option>AC</option>
                
                <option>AL</option>
                
                <option>AP</option>
                
                <option>AM</option>
                
                <option>BA</option>
                
                <option>CE</option>
                
                <option>DF</option>
                
                <option>ES</option>
                
                <option>GO</option>
                
                <option>MA</option>
                
                <option>MT</option>
                
                <option>MS</option>
                
                <option>MG</option>
                
                <option>PA</option>
                
                <option>PB</option>
                
                <option>PR</option>
                
                <option>PE</option>
                
                <option>PI</option>
                
                <option>RJ</option>
                
                <option>RN</option>
                
                <option>RS</option>
                
                <option>RO</option>
                
                <option>RR</option>
                
                <option>SC</option>
                
                <option>SP</option>
                
                <option>SE</option>
                
                <option>TO</option>
                
            </select>
        </div>



        <div class="mb-3">
            <label for="motivo_interesse" class="form-label">Demonstração de interesse</label>
            <textarea name="motivo_interesse" class="form-control" id="Textarea" rows="3"
                placeholder="Eu gostaria de fazer esse curso porque..."></textarea>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg">Se inscrever</button>
        </div>
        <h6 class="text-alert">VOCÊ SERÁ REDIRECIONADO PARA <B>https://formspree.io/</B> ANTES DO ENVIO DO
            SEU
            DEMONSTRATIVO DE INTERESSE</h6>
    </form>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/maska@latest/dist/maska.js"></script>

<script>

    const DynaForm = {
        compilerOptions: {
            delimiters: ['@{', '}']
        },
        data() {
            return {
                cep: "",
                uf: "SP",
                cidade: "",
                bairro: "",
                rua: "",
                numero: "",
                loading: false
            }
        },
        methods: {
            preenche_endereco() {
                let cep = this.cep
                this.loading = true
                axios
                    // .get("http://cep.la/" + cep, { 
                    .get("https://viacep.com.br/ws/" + cep + "/json/", {
                        headers: {
                            "Accept": "application/json"
                        },
                    })
                    .then(
                        response => {
                            if (!response.data) {
                                alert("Não foi possivel buscar endereço pelo CEP (vz)")
                                this.loading = false
                            }
                            this.uf = response.data.uf
                            this.cidade = response.data.localidade
                            this.bairro = response.data.bairro
                            this.rua = response.data.logradouro
                            this.$refs.numero_ref.focus()
                            this.loading = false
                        }
                    )
                    .catch(
                        error => {
                            alert("Não foi possivel buscar endereço pelo CEP" + error)
                            this.loading = false
                        }
                    )
            }
        },
    }
    const app = Vue.createApp(DynaForm)
    app.use(Maska)
    app.mount("#form")
</script>

</main>



<footer class="footer mt-auto bg-transparent mt-auto py-3">
    <p class="float-end"><a style="color: white;" href="#">Voltar lá em cima!</a></p>
    <p style="color: white;">
        &copy;2021 Mantido por
        <a style="color: white;" href="https://github.com/cesardddp" target="_blank">cesardddp</a> &middot; 
        <a style="color: white;" href="https://github.com/bzoliveira" target="_blank">bzoliveira</a> &middot; 
        <!-- <a style="color: white;" href="#">Privacy</a> &middot;
        <a style="color: white;" href="#">Terms</a></p> -->
</footer>

<script src="/static/js/bootstrap.bundle.js"></script>