.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.bg-manxs {
  background-image: linear-gradient(to top right, var(--rosa-manxs), rgba(0, 0, 0, 0.699)), url("../imgs/holofortes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: unset;
}