.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


.menu1 li {
  position: relative;
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu1 li:after,
.menu1 li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.menu1 li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu1 li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu1 li:hover::before,
.menu1 li:hover::after {
  width: 10px;
  height: 10px;
  border-color: rgb(71, 6, 6);
}
.active_menu:after,
.active_menu:before {
  width: 10px!important;
  height: 10px!important;
  border-color: rgb(71, 6, 6)!important;
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  transition: all 0.3s ease;
}

.active_menu:after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.active_menu:before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

/* .active_menu::before,
.active_menu::after {
  width: 10px;
  height: 10px;
  border-color: rgb(71, 6, 6);
} */
