:root {
    --rosa-manxs: #bd008a;
    --roxo-manxs:#6e008a;
    --rosa-tr-manxs: #e100a5ad;
    --roxo-tr-manxs:#530086ad;
    --primary2: #ad007f;
}
html {
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    /* background-color: black; */
    background-image: url(../imgs/PCVV9140.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* font Otomanopee One */
.btn-primary {
    color: #fff;
    /* background-color: var(--primary); */
    background-image:linear-gradient(to top right, var(--rosa-tr-manxs), var(--roxo-tr-manxs));
    border-color: var(--rosa-manxs);
}
.btn-primary:hover {
    color: #fff;
    background-color: #0d6efd;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  
}
.card-insta {
    background-image: linear-gradient(to top right, #ff00bb3f, #53008646);
    margin: -2px;
}
.card-insta > img {
    margin: 10px;
}
.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.714);
}
.center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100px;
    width: 100px;
  }