{% extends 'layout.html' %}
{% block main %}
    
<!-- modify this form HTML and place wherever you want your form -->

<div class="container">
    <h3>ESTE É UM FORMULARIO DE EXEMPLO SEM SIGNIFICADO</h3>
    <h6>Email de envio atualmente é <b>cesardddp@outlook.com</b></h6>
    <form class="row g-3" action="https://formspree.io/f/mqkwykwn" method="POST">
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome</label>
            <input name="nome" type="text" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="">
        </div>
        
        <div class="col-12">
        <label for="endereco" class="form-label">Endereço</label>
        <input name="endereco" type="text" class="form-control" id="" placeholder="Av.XX, Jardim Bela Raba">
    </div>
    
    <div class="col-md-6">
        <label for="cidade" class="form-label">Cidade</label>
        <input name="cidade" type="text" class="form-control" id="">
    </div>
    <div class="col-md-4">
        <label for="estado" class="form-label">Estado</label>
        <select id="" class="form-select" name="estado">
            <option selected>São Paulo</option>
            {% for estado in estados %}
            <option>{{estado}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <label for="CEP" class="form-label">CEP</label>
        <input name="CEP" type="text" class="form-control" id="">
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Se inscrever</button>
    </div>
    <h7 class="text-alert">VOCÊ SERÁ REDIRECIONADO PARA <B>https://formspree.io/</B> ANTES DO ENVIO DA INSCRIÇÃO PARA CONFIRMAÇÃO</h6>
</form>
</div>
{% endblock main %}