{% extends 'layout.html' %}
{% block main %}
    
<!-- modify this form HTML and place wherever you want your form -->

<div class="container text-white">
    <!-- nome social
data de nascimento
endereço
email
telefone
demonstração de interesse
(porque eu gostaria! de fazer esse curso) -->
    <h3>Curso: EXPRESSÃO E LINGUAGEM CORPORAL</h3>
    <h4>Descrição do curso</h4>
    <p>
>
    </p>
    <p>
>
    </p>
    <p>
>
    </p>
    <p>
>
    </p>
    <p>
DESCRIÇÃO DO CURSO
    </p>
    <p>
>
    </p>
    <p>
>
    </p>
    <p>
>
    </p>
    <p>
        Após o preenchimento correto das informações abaixo, você receberá por email os detalhes do curso escolhido seguido da folha de pagamento do mesmo. Responsa o email com o comprovante de pagamento e então recebera sua confirmação de inscrição. 
    </p>

    <form class="row g-3" action="https://formspree.io/f/mqkwykwn" method="POST">
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome Social Completo</label>
            <input name="nome" type="text" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="telefone" class="form-label">Gênero</label>
            <input name="telefone" type="tel" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="telefone" class="form-label">CPF</label>
            <input name="telefone" type="text" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="telefone" class="form-label">Data Nascimento</label>
            <input name="telefone" type="date" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="telefone" class="form-label">Telefone</label>
            <input name="telefone" type="tel" class="form-control" id="">
        </div>
        
        <div class="col-12">
        <label for="endereco" class="form-label">Endereço</label>
        <input name="endereco" type="text" class="form-control" id="" placeholder="Av. Pra Elas, nº00 - Jardim do Vale">
    </div>
    
    <div class="col-md-6">
        <label for="cidade" class="form-label">Cidade</label>
        <input name="cidade" type="text" class="form-control" id="">
    </div>
    <div class="col-md-4">
        <label for="estado" class="form-label">Estado</label>
        <select id="" class="form-select" name="estado">
            <option selected>São Paulo</option>
            {% for estado in estados %}
            <option>{{estado}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <label for="CEP" class="form-label">CEP</label>
        <input name="CEP" type="text" class="form-control" id="">
    </div>
    

    <div class="mb-3">
        <label for="porque_interesse" class="form-label">Demonstração de interesse</label>
        <textarea name="porque_interesse" class="form-control" id="Textarea" rows="3" placeholder="Eu gostaria de fazer esse curso porque..."></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Se inscrever</button>
    </div>
    <h7 class="text-alert">VOCÊ SERÁ REDIRECIONADO PARA <B>https://formspree.io/</B> ANTES DO ENVIO DO SEU DEMONSTRATIVO DE INTERESSE</h6>
</form>
</div>
{% endblock main %}