{% extends 'layout.html' %}
{% import 'redes_macro.html.jinja' as redes_macro %}
{%block contato_active%}active_menu{%endblock%}

{% block link_style %} {% endblock link_style %} {% block main %}
{{ redes_macro.redes_macro(redes_sociais_componente) }}


<div class="container bg-azul-branco mt-3">
    <div class="contato">
        <form class="form " action="https://formspree.io/f/xknkybjj" method="POST">
            <br>
            <h2>FALE CONOSCO</h2>
            <br>
            <div class="row g-3">
                <div class="col">
                    <label for="nome" class="form-label">Nome social</label>
                    <input name="nome" type="text" class="form-control" placeholder="Insira aqui seu nome"
                        aria-label="Nome">
                </div>
            </div>
            <br>
            <div class="col">
                <label for="email" class="form-label">E-mail</label>
                <input name="email" type="email" class="form-control" placeholder="Insira aqui seu e-mail"
                    aria-label="Email">
            </div>
            <br>
            <div class="mb-3">
                <label for="mensagem" class="form-label">Mensagem</label>
                <textarea name="mensagem" class="form-control" id="Textarea" rows="3"
                    placeholder="Escreva sua mensagem"></textarea>
            </div>
            <div class="row ">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>
{% endblock main %}