{% extends 'layout.html' %}
{% block style %}
.bi {
vertical-align: -.125em;
fill: currentColor;
}
.bg-azul-branco {
background-image: linear-gradient(to bottom right, #3d2ee194, #ecc8e4);

}
.feature{
text-align: center;
}
{% endblock style %}
{% block main %}

<!-- Gallery -->
<div class="lightbox">
    {% for foto in fotos %}
    
        
            <img src="{{ url_for('static', filename='imgs/galeria/'+foto) }}"
                data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt=""
                class="shadow-1-strong rounded mb-4" 
                style="width: 30%;height: 30%;"
                />
        
    

    {% endfor %}
    {% endblock main %}

    <!-- Gallery -->