{% extends 'layout.html' %}
{%block galeria_active%}active_menu{%endblock%}
{% block link_style %}
<style>
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .bg-azul-branco {
    background-image: linear-gradient(to bottom right, #3d2ee194, #ecc8e4);

  }

  .feature {
    text-align: center;
  }

  .modal-body {
    padding: 0;
  }
</style>
{% endblock link_style %}
{% block main %}

<!-- Gallery -->
<div class="container mt-3">
  {% for foto in fotos|sort %}
  <div class="row align-items-center">
    {% for f in foto %}
    <img loading='lazy'src="{{ url_for('static', filename='imgs/galeria/'+f) }}"
      data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" data-bs-toggle="modal"
      data-bs-target="#galeriaModal" alt="" class="col-lg-4  shadow-1-strong rounded mb-4" />
    {% endfor %}
  </div>
  {% endfor %}
  <div class="modal fade" id="galeriaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <!-- CARROSSEEEEU -->
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img loading='lazy'src="" class="d-block w-100" alt="..." id="img_active">
              </div>
              {% for foto in fotos %}
              {% for f in foto %}
              <div class="carousel-item">
                <img loading='lazy'src="{{ url_for('static', filename='imgs/galeria/'+f) }}" class="d-block w-100" alt="...">
              </div>
              {% endfor %}
              {% endfor %}
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- CARROSSEEEEU -->
        </div>
      </div>
    </div>
  </div>
  <script>
    var myModalEl = document.getElementById('galeriaModal')
    myModalEl.addEventListener('shown.bs.modal', function (event) {
      console.log(event.relatedTarget.src)
      document.getElementById("img_active").src = event.relatedTarget.src
      //ideia pegar os items desativados e ativa apartir do selecionado
      //TODO ideia pegar os items desativados e ativa apartir do selecionado
    })
  </script>
  {% endblock main %}

  <!-- Gallery -->