{% extends 'layout.html' %}
{% block main %}
<div id="carrosseldastres" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carrosseldastres" data-bs-slide-to="0" class="active" aria-current="true"
			aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carrosseldastres" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carrosseldastres" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner ">
		<div class="carousel-item center-cropped active" style="background-image: url('{{banner1}}');">
			<img src="{{banner1}}" class="" alt="...">
		</div>
		<div class="carousel-item ">
			<iframe width="910" height="512" src="{{iframe_do_carrosel}}" title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>

		<div class="carousel-item center-cropped" style="background-image: url('{{banner2}}');">
			<img src="{{banner2}}" class="" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carrosseldastres" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carrosseldastres" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>


<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

	<!-- CARDS DE NOÍCIAS -->
	<hr class="featurette-divider">
	<div id="carrosseldasduas" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<div class="row mb-2 ">
				<div class="col-md-6" >
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 flex-column position-static bloconoticia">
							<strong class="d-inline-block mb-2 text-black">Projetos</strong>
							<h3 class="mb-0">Início de projeto com parceria da prefeitura</h3>
							<div class="mb-1 text-muted">30 de Julho</div>
							<p class="card-text mb-auto">Texto da notícia aqui blablablablabalba</p>
							<a href="#" class="stretched-link">Acesse</a>
					</div>
					<div class="col-auto d-none d-lg-block">
					<!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Capa da Notícia</text></svg> -->
					<img src="{{ url_for('static', filename='imgs/luisaff.jpg')}}" alt="" width="200" height="250">
					</div>
				</div>
				</div>
				<div class="col-md-6">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static bloconoticia">
					<strong class="d-inline-block mb-2 text-black">Design</strong>
					<h3 class="mb-0">Post title</h3>
					<div class="mb-1 text-muted">Nov 11</div>
					<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="stretched-link">Continue reading</a>
					</div>
					<div class="col-auto d-none d-lg-block">
					<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
			
					</div>
				</div>
				</div>
			</div>
		  </div>
		  <div class="carousel-item">
			<div class="row mb-2">
				<div class="col-md-6" >
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 flex-column position-static bloconoticia">
					<strong class="d-inline-block mb-2 text-white">Projetos</strong>
					<h3 class="mb-0">Início de projeto com parceria da prefeitura</h3>
					<div class="mb-1 text-muted">30 de Julho</div>
					<p class="card-text mb-auto">Texto da notícia aqui blablablablabalba</p>
					<a href="#" class="stretched-link">Continue lendo...</a>
					</div>
					<div class="col-auto d-none d-lg-block">
					<!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Capa da Notícia</text></svg> -->
					<img src="{{ url_for('static', filename='imgs/luisaff.jpg')}}" alt="" width="200" height="250">
					</div>
				</div>
				</div>
				<div class="col-md-6">
				<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static bloconoticia">
					<strong class="d-inline-block mb-2 text-white">Design</strong>
					<h3 class="mb-0">Post title</h3>
					<div class="mb-1 text-muted">Nov 11</div>
					<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="stretched-link">Continue reading</a>
					</div>
					<div class="col-auto d-none d-lg-block">
					<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
			
					</div>
				</div>
				</div>
			</div>
		  </div>
		 
		<button class="carousel-control-prev" type="button" data-bs-target="#carrosseldasduas" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carrosseldasduas" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>
	
	</div>
		
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	

	<!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock main %}