<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Manxs - Grupo de Arte Drag Queen (BRASIL)">
    <meta name="author" content="cesardddp@hotmail.com">

    <meta name="og:title" content="GrupoManxs.com">
    <meta name="og:image" content="https://www.grupomanxs.com/static/imgs/Logo%20Manxs.png">
    <meta name="og:url" content="https://www.grupomanxs.com">

    <title>Manxs</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/headers.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js')}}"></script>

</head>

<header class="d-flex flex-wrap align-items-center justify-content-center  py-3 mb-4 bg-manxs">

    <a href="/" class="navbar-brand d-flex align-items-center col-1 mb-1 mb-0 text-dark text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
        <img src="/static/imgs/Logo Manxs.png" alt="" width="60" class="d-inline-block align-text-center">
        
    </a>
    <b class="fs-3">Manxs</b>

    <ul class="nav col-12 col-auto mb-2 justify-content-center mb-0">
        <li><a href="/                        " class="nav-link px-2 link-dark">HOME</a></li>
        <li><a href="{{ url_for('servicos') }}" class="nav-link px-2 link-dark disabled">SERVIÇOS</a></li>
        <li><a href="                         " class="nav-link px-2 link-dark disabled">GALERIA</a></li>
        <li><a href="                         " class="nav-link px-2 link-dark disabled">VIDEOS</a></li>
        <li><a href="                         " class="nav-link px-2 link-dark disabled">SHOWS</a></li>
        <li><a href="                         " class="nav-link px-2 link-dark disabled">MUSICAS</a></li>
        <li><a href="                         " class="nav-link px-2 link-dark disabled">CONTATO</a></li>
    </ul>


</header>



<body>
    {% block main %}
    {% endblock main %}
</body>
<!-- FOOTER -->
<footer class="container bg-transparent">
    <p class="float-end"><a href="#">Voltar lá em cima!</a></p>
    <p style="color: rgb(253, 42, 147);">
        &copy;2021 Mantido por 
        <a style="color: rgb(253, 42, 147);" href="https://github.com/cesardddp">cesardddp</a>
        &middot; <a style="color: rgb(253, 42, 147);" href="#">Privacy</a> &middot;
        <a style="color: rgb(253, 42, 147);" href="#">Terms</a></p>
</footer>