{% extends 'layout.html' %}
{%block musicas_active%}active_menu{%endblock%}

{% block link_style %}
<style>
    .bi {
        vertical-align: -.122em;
        fill: currentColor;
    }

    .bg-azul-branco2 {
        background-image: linear-gradient(to bottom right, #3d2ee1d8, #ecc8e4);
        border-radius: 10px;
    }

    .feature {
        text-align: center;
    }

    @media (min-width: 992px) {
        .row {
            margin-bottom: -4rem;
        }
    }

    @media (max-width: 576px) {
        .row {
            margin-bottom: 0;
        }
    }


    .btn-youtube2 {
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        font-size: 145%;
        align-items: center;
        display: inline-block;
        transition-duration: 0.4s;
        color: #fff;
        /* background-color: var(--primary); */
        background-image: linear-gradient(to top right, var(--rosa-tr-manxs), var(--roxo-tr-manxs));
        border-color: var(--rosa-manxs);
    }

    .btn-youtube2:hover {
        color: white;
        background-color: red;
        border-color: red;
    }
</style>
{% endblock link_style %} {% block
main %}


<div class="container text-white my-5">
    <!--ADICIONAR VÍDEO COM MONTAGEM DE CELULAR POR CIMA-->

    <div class="row align-items-center justify-content-center">
        <img loading='lazy' class="d-none d-md-block col-3 img-fluid mb-1 mb-1"
            src="{{url_for('static',filename='imgs/comprimir/cool.png')}}" alt="" srcset="">
        <div class="order-md-1 col-md-7 col-12">
            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/track/79x09jPJr7eYbibxoswlJp?utm_source=generator" width="100%"
                height="80" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <img loading='lazy' class="d-none d-md-block col-3 order-md-2 img-fluid"
            src="{{url_for('static',filename='imgs/comprimir/mas.jpg')}}" alt="" srcset="">

        <div class="order-md-1 col-md-7 col-12">
            <!-- <iframe class="" src="https://open.spotify.com/embed/album/5PNy9o8MmsNuoNSYRS5khB" width="100%" height="80"
                frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
            
                <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/track/3I7kSnx0NjI9xDX7R14wMy?utm_source=generator&theme=0" width="100%"
                height="80" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <img loading='lazy' class="d-none d-md-block col-3 img-fluid mb-1 mb-1"
            src="{{url_for('static',filename='imgs/musicas/close.jpeg')}}" alt="" srcset="">
        <div class="order-md-1 col-md-7 col-12">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4LxHn5NqoDAknHSSiwSOmm?utm_source=generator" 
                width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <img loading='lazy' class="d-none d-md-block order-md-2 col-3 img-fluid"
            src="{{url_for('static',filename='imgs/musicas/goy.jpeg')}}" alt="" srcset="">
        <div class="order-md-1 col-md-7 col-12">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7r6TR6pfvDBC3KO5l15KBX?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <img loading='lazy' class="d-none d-md-block col-3 img-fluid mb-1"
            src="{{url_for('static',filename='imgs/musicas/velha_amiga.jpeg')}}" alt="" srcset="">
        <div class="order-md-1 col-md-7 col-12 mt-md-5 mb-1">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1FulmG7yDU6CVN6q2gVbst?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <!-- <a href="https://youtu.be/hlP-lESKS44" -->
            <!-- class="btn btn-primary col-2 btn-sm d-none d-md-block "><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-youtube" -->
            <a class="btn btn-primary col-2 btn-sm d-none d-md-inline" href="https://www.youtube.com/watch?v=hlP-lESKS44"
                target="_blank" role="button">
                <i class="bi bi-youtube fs-4"></i>
                CLIPE </a>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <img loading='lazy' class="d-none d-md-block col-3 order-md-2 img-fluid"
            src="{{url_for('static',filename='imgs/musicas/to_plena.jpeg')}}" alt="" srcset="">
        <div class="order-md-1 col-md-7 col-12">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/48i5LKXQm3h3lnpKrHV7Rw?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>

    <!-- </div> -->


    {% endblock main %}