{% extends 'layout.html' %}
{% block main %}

<br>
<br>
<br>
<h1>TÍTULO PARA PÁGINA DE SERVIÇOS</h1>
<p>Descrição básica de como funcionam os serviços, como podem ser solicitados e etc</p>
<br>
<br>
<br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    {% for cardslide in cardslides %}
    <div class="carousel-item active">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for card in cards %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ card.src_imagem }}" class="card-img-top" alt="{{card.alt_descricao}}">
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
              <p class="card-text">{{card.text}}</p>
            </div>
            <a href="#" class="btn btn-primary">Acesse</a>
          </div>
        </div>
        {%end for%}
      </div>
    </div>
    {%end for%}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



{% endblock main %}