{% extends 'layout.html' %}
{% block style %}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.bg-azul-branco {
    background-image: linear-gradient(to bottom right, #3d2ee194, #ecc8e4);
    
}
.feature{
    text-align: center;
}
{% endblock style %}
{% block main %}


<div class="container">

<!-- <h3 class="">AULAS</h3> -->
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">OFICINAS</h2>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
      <div class="carousel-inner">
        {% for cardslide in cardslides %}
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for card in cards %}
            <div class="col">
              <div class="card h-100">
                <img src="{{ card.src_imagem }}" class="card-img-top" alt="{{card.alt_descricao}}">
                <div class="card-body">
                  <h5 class="card-title">{{card.title}}</h5>
                  <p class="card-text">{{card.text}}</p>
                </div>
                <a href="#" class="btn btn-primary">Acesse</a>
              </div>
            </div>
            {%end for%}
          </div>
        </div>
        {%end for%}
    
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">CURSOS</h2>
    <div class="row mb-2 ">
        <div class="col-md-6 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-azul-branco">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-danger">Dança</strong>
              <h3 class="mb-0">Curso de Dança</h3>
              <div class="mb-1 text-muted">12 Nov ou outro subitulo</div>
              <p class="card-text mb-auto">Aqui estou explicando com uma breve descrição o que é o curso.</p>
              <a href="#" class="stretched-link">Se inscreva.</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-azul-branco">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Canto</strong>
              <h3 class="mb-0">Curso de Canto</h3>
              <div class="mb-1 text-muted">12 Nov ou outro subitulo</div>
              <p class="mb-auto">Aqui estou explicando com uma breve descrição o que é o curso.</p>
              <a href="#" class="stretched-link">Se inscreva.</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            </div>
          </div>
        </div>
      </div>
    
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">AULAS</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% for aula in aulas %}
            <div class="feature col bg-azul-branco">
                    <img class="bd-placeholder-img rounded-circle" src="{{url_for('static',filename='imgs/'+aula['imagem']['src'])}}">
                <h2>{{aula['titulo']}}</h2>
                <p>{{aula['conteudo']}}</p>
                <a href="{{aula['link']}}" class="icon-link">
                    Entrar em contato
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock main %}