{% extends 'layout.html' %} {% block style %} .bi { vertical-align: -.125em; fill: currentColor; } .bg-azul-branco { background-image: linear-gradient(to bottom right, #3d2ee194, #ecc8e4); } .feature{ text-align: center; } {% endblock style %} {% block
    main %}
    
    
    <div class="container">
        <iframe class="calendar-container" src="https://calendar.google.com/calendar/embed" scrolling="no"></iframe>
        <!-- PERSONALIZAR GOOGLE AGENDA https://developers.google.com/calendar/api/v3/reference/colors/get-->
    </div>
    
       
    
      
{% endblock main %}