{% extends 'layout.html' %} {% block style %} {% endblock style %} {% block     main %}


<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-6">
        {% for aula in aulas %}
        <div class="col">
            <div class="card style-aulas bg-azul-branco h-100">
            </br>
            <div class="card-title">asdf</div>
            <img src="{{ url_for('static', filename='imgs/'+aula['imagem']['src']) }}" class="card-img-top" alt="['imagem']['alt']">
                <div class="card-body">
                    <h5 class="card-title">{{aula['titulo']}}</h5>
                    <p class="card-text">{{aula['conteudo']}}</p>
                    <a href="{{aula['link']}}" class="btn btn-primary">Entre em contato</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </br>
    
    <div class="row row-cols-1 row-cols-md-3 g-6">
        {% for aula in aulas2 %}
        <div class="col">
            <div class="card style-aulas bg-azul-branco h-100">
            </br>
            <img src="{{ url_for('static', filename='imgs/'+aula['imagem']['src']) }}" class="card-img-top" alt="['imagem']['alt']">
                <div class="card-body">
                    <h5 class="card-title">{{aula['titulo']}}</h5>
                    <p class="card-text">{{aula['conteudo']}}</p>
                    <a href="{{aula['link']}}" class="btn btn-primary">Entre em contato</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}